#app3 {
  border: 1px solid purple;
}
#app3 .square {
  border: 1px solid grey;
  margin: 10vw 0 0 10vw;
  width: 10vw;
  height: 10vw;
  transition: transform 1s;
}
#app3 .square.active {
  transform: translateX(15vw);
}
