#app4 {
  border: 1px solid pink;
}
@keyframes change {
  0% {
    background: red;
  }
  100% {
    background: blue;
  }
}
#app4 .circle {
  border: 1px solid grey;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  margin: 2vw 0 0 2vw;
}

#app4 .circle.active {
  animation: change 1s infinite alternate linear;
}
